@media only screen and (min-width: 1000px) {




main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 10px;
}

#etsy {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 20px;
    background-color: azure;
    border-color: black;
}
#amazon {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 20px;
    background-color: azure;
    border-color: black;
}
#mayo {
    grid-column: 3/4;
    grid-row: 1/2;
    padding: 20px;
    background-color: azure;
    border-color: black;
}

}