@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header {
    height: 100px;
    align-content: center;
    font-family: Roboto, sans-serif;
    background-color: teal;
    color: white;
    padding: 20px;

}
main {
    display: grid;
    padding: 10px;
}

h2, h1 {
    height: 50px;
    font-family: Roboto, sans-serif;
    font-size: 1.5em;
    background-color: teal;
    color: white;

}

p {
    font-size: 1.5em;
    
}
#etsy {
    grid-column: 1/3;
    grid-row: 1/3;
    padding: 20px;
    background-color: azure;
    border-color: black;
}
#amazon {
    grid-column: 2/3;
    grid-row: 1/3;
    padding: 20px;
    background-color: azure;
    border-color: black;
}
#mayo {
    grid-column: 3/3;
    grid-row: 1/3;
    padding: 20px;
    background-color: azure;
    border-color: black;
}
footer {
    background-color: teal;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 1em;
}