@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Roboto&display=swap');

header {
    background-color: #fbdb6b;
    color: black;
    font-family: Noto Serif;
    font-size: 1em;
    display: flex;
    gap: 10px;
    padding: 15px;
    
}
h1 {
    font-size: 1.5em;
}
header > img {
    height: 100px;
}
.socialicons {
    height: 50px;
}
nav {
    
    color: black;
}
.navigation{

    display: flex;
}
time {
    display: block;
    text-align: center;
    background-color: #fbdb6b;
    padding: 10px;

}
.navigation a {
    color: black;
}
#hamButton {
	display: block;
	
	width: fit-content;
	font-size: 1.5rem;
	padding: .5rem;
	color: navy;
}
.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #fbdb6b;
    padding-inline-start: 0;
}
.navigation li {
	display: none;
    
}
.navigation li a {
	padding: 1.15rem;
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
}
.navigation li a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

/* when the button is clicked - the responsive class is added and accounted for here */
.navigation.responsive li {
	display: block;
	width: 100%;
}
.navigation.responsive li a {
	display: block;
}

.homepage {
    display: grid;
    gap: 10px;
}
.homepage section {
    background-color: #7b86b8;
    padding: 20px;
}
.join {
    display: none;
}
.event {
    grid-row: 2/3;
}
.weather {
    grid-row: 3/4;
}
.news {
    grid-row: 4/5;
}
.spotlights {
    grid-row: 5/6;
}
.spotlight3 {
    display: none;
}


footer {
    background-color: #fbdb6b;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}