img {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
img[data-src] {
    filter: blur(0.2em);
  }
  
img {
    filter: blur(0em);
    transition: filter 2.0s;
  }
  /* div {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
  } */
