@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
#myself {
    background-color: deeppink;
}
header {
    height: 300px;
    display: flex;
    font-family: Roboto, sans-serif;
    background-color: deeppink;
    color: white;
    gap: 50px;
    align-items: center;
    padding: 20px;

}
#homepage {
    width: 900px;
    margin: 0 auto;

}
.me {
    height: 300px;
    
}

h2 {
    font-size: 2em;
    color: black;
    

}

.home-grid {
    padding: 30px;
}

p {
    
    font-size: 1em;
    color: black;
}


    
footer {
    background-color: deeppink;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
